body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-cont {
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 85px auto;
  height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: #091429;
  color: #ffffff;
  height: 100%;
}
.sidebar-content {
  margin: 55px 22px;
}
.logo-img {
  height: 30px;
}
.nav-table {
  margin: 50px 0px !important;
}
.icon {
  height: 25px;
  margin-right: 10px;
}
.nav-txt {
  font-size: 0.9rem !important;
  font-weight: 600;
}


.header {
  grid-column: 2 / -1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.header>h3 { 
  margin: 0px 40px;
  font-size: 1.4rem;
}
.header p { 
  margin: 0 7px;
  align-self: center;
  font-weight: bold;
  font-size: 15px;
}
.header-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  margin: 0 15px;
}
.header-items>div {
  margin: 0 10px;
  display: flex;
  flex-flow: row nowrap;
}
.header-icon {
  height: 25px;
}
.avatar-sm {
  border-radius: 50%;
  height: 45px;
}
.dropdown {
  display: block;
  position: relative;
}
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: auto;
  background-color: #091429;
  border-radius: 5px;
  color: #ffffff;
  margin: 50px 0;
  transition: opacity ease-in 500ms;
}
.dropdown-menu.active {
  visibility: visible;
  opacity: 1;
}
.menu-item {
  margin: 10px;
  display: block;
  text-align: center;
  border: none;
  border-bottom: 2px solid #091429;
  transition: border-bottom ease-in 400ms;
}
.menu-item:hover {
  border: none;
  border-bottom: 2px solid #ffffff;
}
i {
  align-self: center;
  cursor: pointer;
}


.content {
  grid-column: 2 / -1;
  text-align: center;
}
.hero-img {
  height: 60vh;
  width: 40vw;
  align-self: center;
}
.content>h4 {
  font-weight: 700;
  font-size: 1.2rem;
}
.contact-form {
  display: flex;
  flex-flow: column nowrap;
  margin: 60px 15vw;
  font-family: inherit;
}
.form-label{
  font-size: 0.8rem;
  align-self: flex-start;
  font-weight: bold;
  color: #575757;
}
.inpt {
  height: 30px;
  margin: 5px 0 40px 0;
  font-size: 1rem;
}
.txt-area {
  margin: 5px 0 40px 0;
  font-size: 1rem !important;
  font-family: 'Ubuntu', sans-serif !important;
}
.contact-form-btn {
  width: 155px;
  padding: 10px 20px;
  font-size: 18px;
  align-self: center;
  color: #ffffff;
  background-color: #091429;
  border: 1px solid #091429;
  font-family: inherit;
}
.contact-form-btn:hover {
  background-color: #032566;
  border: 1px solid #032566;
  cursor: pointer;
  font-family: inherit;
}

@media(max-width: 600px){
  .main-cont {
     grid-template-columns: repeat(7, 1fr);
  }
  .header {
    grid-column: auto;
  }
  .header>h4 {
    margin: 0 10px;
  }
  .hero-img {
    width: 80vw;
  }
}
