*{
    margin:0;
    padding:0;
    font-family: Ubuntu;
}
body{
    /* overflow:hidden; */
    /* position:fixed; */
    min-width:454px;
}
main{
    height: 70vh !important;
}
.nav-lancer{
    font-family: Pacifico;
    font-size:36px;
    padding:0;
    margin-bottom:70px;
}
aside{
    padding-top: 10%;
    
}
aside p, aside div {
    margin-bottom:15px;
}
.nav-left{
    
    background-color: #091429;
    color:white;
    height:100vh;
    width:auto;
    font-size:18px;
    padding:0;
    cursor: pointer;

}
.search-container{
    width:70%;
    height:100%;
    text-align:center;
    padding: 30px 0;
}
.search{
    border:0;
    border: 1px solid #B1B1B1;
    border-radius:4px;
    padding: 4px;
}
.nav-main{
    border-bottom: 2px solid #E5E5E5;
    height:100px;
}
.card-name{
    margin:3%;
    font-weight: bold;
}
.card{
    height: 80%;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-top: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
    padding-left: 5%;
    padding-right:0;
}
.container-card-name{
    width:100%;
    height: 20%;
    background-color: #009FFF;
    position: relative;   
    
}
img{
    width:20vw;
    height: 20vw;
    text-align:right;
	margin-top:0;
	padding:50px;
	margin-left:550px;
    display: block;  
    position:absolute;
    top:0px;
    right:5%;

}
    
.container-card-name span{
    font-weight: bold;
    color:white;
    font-size: 1.5rem;
    position: absolute;
    left: 2%;
    top: 50%;
    position: relative;
}
.content{
    width:100%;
    font-size:14px;
}

/* .address{
	float:right;
	
} */
.content #reader{
	width:60%;
	font-size:14px;
	float:left;
}
.content #story {
    margin-top: 100px;
    margin-left:70px;
	float: right;
	width: 30%;
	box-sizing: border-box;
}

@media only screen and (max-width: 779px) {
    .nav-left{display:none;}
  }