* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 96%;
	margin: 0 auto;
	
}

.header-container {
	width: 94%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	height: 8vh;
}

.header-container * {
	border: 1px solid #C4C4C4;
}

.header-container h4 {
	flex: 2;
	text-align: center;
	padding-top: 2.4vh;
}

.back-close {
	display: flex;
	margin: 0;
	padding: 0;
}

.back-close button {
	width: 3em;
}

.header-container img {
	border: 0;
}

#create, #bottom-create {
	width: 8rem;
	background-color: #0ABAB5;
	color: #fff;
}

.form {
	position: relative;
	top: 6vh;
	width: 90%;
	margin: 0 auto;
	left: 1.2em;

}

h1, h3, h4 {
	font-family: "Ubuntu";
	padding-bottom: 0.3em;
}

h1 {
	position: relative;

}

form {
	border: 2px solid #919191;
	width: 90%;
	
}

#bottom-create {
	position: relative;
	top: 4em;
	height: 8vh;
}

footer {
	width: 30%;
	margin: 0 auto;
}
