* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 96%;
	margin: 0 auto;
	
}

.header-container {
	width: 94%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	height: 8vh;
}

.header-container * {
	border: 1px solid #C4C4C4;
}

.header-container h4 {
	flex: 2;
	text-align: center;
	padding-top: 2.4vh;
}

.back-close {
	display: flex;
	margin: 0;
	padding: 0;
}

.back-close button {
	width: 3em;
}

.header-container img {
	border: 0;
}

.header-container button:hover {
	border: 4px solid #0A90ff;
	transition: border 1s;
}

#create, #bottom-create {
	width: 8rem;
	background-color: #0ABAB5;
	color: #fff;
}

.form {
	position: relative;
	top: 6vh;
	width: 90%;
	margin: 0 auto;
	left: 1.2em;

}

h1, h3, h4 {
	font-family: "Ubuntu";
	padding-bottom: 0.3em;
}

h3, h4 {
	text-align: center;
}

h1 {
	position: relative;

}

form {
	border: 2px solid #919191;
	width: 90%;
	padding: 1em;
}

#bottom-create {
	position: relative;
	top: 4em;
	height: 8vh;
	margin-bottom: 2em;
}

#bottom-create:hover {
	font-weight: bolder;
	background-color: #0A90ff;
	transition: font-weight 1s, background-color 1s;
}

footer {
	width: 30%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	margin-left: calc(50%);
	transform: translateX(-50%);
}

label, input, select {
	display: block;
	width: 70%;
	margin: 0 auto 0.2em auto;
}

input, select {
	padding: 0.2em;
	margin-bottom: 0.5em;
}

#addcontact {
	width: 40%;
	background-color: #fff;
	border: 0;
	font-weight: bolder;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: calc(25%);
	
}

h3:last-of-type {
	padding-top: 2em;
}


@media screen and (min-width: 700px) {
	
	input, select {
		display: inline-block;
		width: 40%;
		padding: 0.5em;
	}

	label {
		margin-left: 0.2em;
	}

	#addcontact {
		
		margin-left: 0;
		text-align: left;
	}

	footer {
	
	margin-left: calc(50% + 4rem);
	transform: translateX(-50%);
}

}

@media screen and (min-width: 900px) {
	body {
		max-width: 1020px;
		margin: 0 auto;
	}

	label {
		display: inline-block;
		margin-right: 10px;
		width: 20%;
	}

	

	form h3, form h4 {
	text-align: left;
	margin-bottom: 1em;
}
	input, select {
		margin-left: 1.5em;
		width: 30%;
	}
}