* {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  height: 98px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 64px;
}

@media only screen and (max-width: 500px) {
  header {
    padding: 0 32px;
  }
}