.fa{
    margin-right: 5px; 
    font-size: 14px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#header-container{
    height: 120%;
    width: 30%;
    background: #091429;
    color: white;
    
}
    #logo{
        padding: 30px 0px;
        width: 50%;
    }
        #lancer{
            margin-left: 20%;
        }
    #nav-bar{
        padding: 0 50px 340px 50px;
    }
    i{
        background: black; 
    }
        #nav-bar li{
        margin-bottom: 70px;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        }
            #nav-bar li a{
                color: white;
                text-decoration: none;
                font-size: 14px;
            }
            #nav-bar li img{
                width: 20%;
            }

main{
    padding-left: 5%;
    padding-right: 5%;
}

    #first-section{
        display: flex;
        justify-content: space-between;
        padding: 30px 0 45px 0;
        font-size: 30px;
    }
        #first-section a{
            text-decoration: none;
            color: black;
        }
        #first-section a:active, #first-section a:nth-child(1){
            color: #0ABAB5;
        }
        #first-section a:hover{
            color: #0ABAB5;
        }

    #second-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;
    }
        button{
            border: 3px solid #0ABAB5;
            border-radius: 10px;
            padding: 12px;
            background-color: white;
            cursor: pointer;
        }
            .space{
                margin-right: 25px;
            }
            #different{
                color: white;
                background: #0ABAB5;
            }
    

    #third-section{
        border: 1px solid #C4C4C4;
        padding: 50px  35px;
    }

        #first{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            line-height: 48px;
        }
            #invoice{

            }
                #invoice #title{
                    font-size: 55px;
                    line-height: 63px;
                    color: #546067;
                }
            #invoice-image{
                height: 90%;
            }

        #second{
            display: flex;
            justify-content: space-between;
            font-weight: normal;
            font-size: 24px;
            line-height: 35px;
            padding: 50px 0;
        }
        .c-title{
            color: #A6A6A6;
        }
            #one{

            }
            #two{

            }
            #three{
                text-align: right;
            }
        
        #third{
        }
            .inner-div:nth-child(1){
                background: #091429;
                color: white;
                text-align: center;
            }
            .inner-div{
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                line-height: 28px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.7);
                
            }

                .one-third{
                    width: 35%;
                    padding: 20px 0;
                }
                .two-third, .three-third, .four-third{
                    text-align: center;
                    width: 15%;
                    align-self: center;   
                }
            
                #underline{
                border-bottom: 2px solid #000000;
               
            }
            
            .special{
                width: 34%;
                display: flex;
                margin-left: 66%;
                justify-content: space-between;
                padding: 20px 0;
            }
                .special p{
                  width: 40%;
                  text-align: center;
                  line-height: 30px;
                  font-weight: 500;
                }
            
        #fourth{
            padding-bottom: 20px;
            font-size: 24px;
            line-height: 34px;
        }
@media screen and (max-width: 990px){
    #first-section{
        font-size: 21px;
    }
    #first, #second, #third{
        font-size: 18px;
        line-height: 20px;
    }
    #first{
        line-height: 33px;
    }
}

@media screen and (max-width: 767px){
    .fa{
        font-size: 10px;
    }
    body{
        flex-direction: column;
    }
        #header-container{
            width: 100%;
            padding: 0;
        }
            #logo{
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                padding: 3px;
            }
                #nav-bar{
                    padding: 0 0 4px 0;
                }
                #nav-bar ul{
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row wrap;
                    padding: 0 5px;
                }
                #nav-bar ul li{
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                }
                #nav-bar ul li a{
                    font-size: 14px;
                }

    #first-section{
        justify-content: space-around;
        padding: 10px 0 15px 0;
        font-size: 14px;
    }
    #second-section{
        padding: 20px 0;
    }

    button{
        padding: 8px;
    }

    #first{
        font-size: 15px;
        line-height: 34px;
        padding: 20px 0;
    }
        #invoice-image{
            width: 30%;
        }
    #second{
        font-size: 14px;
        line-height: 20px;
        padding: 30px 0;
    }

    .inner-div{
        font-size: 14px;
        line-height: 28px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        
    }

        .one-third{
            width: 35%;
            padding: 10px 0;
        }
        .special{
            padding: 10px 0;
            font-size: 14px;
        }
        .special p{
            line-height: 20px;
            font-weight: 400;
        }

    
    #fourth{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}

}


@media screen and (max-width: 500px){
    .inner-div, .special{
        font-size: 12px;
        padding: 5px 0;
        line-height: 15px
    }
    #second{
        font-size: 12px;
    }
}