
body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a{

    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;

}

#sidebarCollapse{
    display: none;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #091429;
    color: #fff;
    transition: all 0.3s;
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #091429;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li  {
    margin-bottom: 20px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #091429;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #091429;
}

ul li a>img {
margin-right: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}




#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}


#sidebar {
    min-width: 200px;
    max-width: 250px;
    max-height: 90vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav-breadcrumb {
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center;
    /* width: 88vw; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
	align-items: center; 
}

.nav-breadcrumb a{
    display: inline;
    padding: 0 60px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 34px; */

}

.active{
    color: #0ABAB5;
}

.main-content{
    margin-top: 100px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 500px;
    /* text-align: center; */

}

.file-section {
	display: grid;
	align-items: center;
	justify-content: center;
}


.file-section h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 63px;
	color: #000000;
}

.file-section img{
    width: 150px;
}
#content{
    width: 100%;
}


@media (max-width: 768px) {
   #sidebarCollapse{
        display: block;
        z-index: 1;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}