body {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .main-cont {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 85px auto;
    height: 100vh;
  }

  /*sidebar*/
  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: #091429;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 65%;
  }
  .sidebar-content {
    margin: 30px 0 0 40px;
  }
  .logo-img {
    height: 30px;
  }
  .nav-table {
    margin: 50px 0px;
    border-spacing: 0 40px;
  }
  .table-row {
    margin: 30px 0;
  }
  .icon {
    height: 18px;
    margin-right: 10px;
  }
  .nav-txt {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    color: #eeeeee;
  }
  .caret-dwn {
    display: flex;
    height: 15px;
    align-self: center;
    margin: 0 5px 0 -15px;
    cursor: pointer;
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    left: 30px;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: 15vw;
    background-color: #ffffff;
    border-radius: 5px;
    color: #091429;
    transition: opacity ease-in 500ms;
  }
  .dropdown-menu.active {
    visibility: visible;
    opacity: 1;
  }
  .menu-item {
    margin: 10px;
    display: block;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom ease-in 400ms;
  }
  .menu-item:hover {
    border: none;
    border-bottom: 2px solid #091429;
  }

  /*header*/
  .header {
    grid-column: 2 / -1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #ffffff;
    padding-left: 26px;
  }
  .header-nav-item { 
    margin: 0px 40px;
    font-size: 1.3rem;
    padding: 30px 0;
    cursor: pointer;
  }
  .header-nav-item-left {border-bottom: 4px solid #009fff;}
  .header-nav-item:hover, .header-nav-item:active {
    border: none;
    border-bottom: 4px solid #009fff;
  }

  /*content*/
  .content {
    grid-column: 2 / -1;
    margin-left: 65px;
  }
  .lanclient-buttons { 
    margin-top: 2em; 
    display: flex; 
    justify-content: space-between;
  }
  .lanclient-buttons>.left>button { 
    border: 2px solid #546067; border-radius: 5px; padding: 10px; margin-right: 1.5em; background: #fff; font-size: 16px; font-weight: bold; color: #546067;
  }
  .lanclient-buttons>.left>button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  .lanclient-buttons>.right>button { 
  background-color: #009fff; border: thin; color: #fff; font-family: 'Ubuntu', 'san-serif'; padding: 10px; border-radius: 5px; font-size: 13px; font-weight: bold; margin-right: 2em; width: 170px; border: 2px solid #009fff;
  }
  .lanclient-buttons>.right>button:hover {
    background-color: #0ABAB5;
    border-color: #0ABAB5;
    cursor: pointer;
  }
  .invoice-cont {
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.03);
    margin: 35px 27px 20px 0;
    padding: 20px;
  }
  .invoice-banner-txt {
    color: #546067;
    font-size: 3rem;
    margin: 0;
  }

  .lanclient-invoice-logo { margin-top: 0; display: flex; justify-content: space-between;
  } 
  .right-invy>p { margin-top: 1em; padding: 2px 0; 
  } 
  .lanclient-invoice-logo>.left-invy-logo { margin-right: 1.5em; 
  }

  img.left-invy-logo { height: 50px; } 

  .lanclient-billing { margin: 20px 0 0 10px; display: flex; justify-content: space-between;
  }

  p.billing-clhead { color: #a6a6a6 !important; font-size: 18px; 
  }

  div.bills-descrip { color: #000; margin-top: 10px;
  } 

  div.bills-descrip>p { padding-bottom: 7px; font-size: 18px;
  }

  div.last-child-billing { margin-right: 2em; text-align: right; 
  }

  .top-mid-bill-details>p:nth-child(2), .top-last-bill-details>p:nth-child(2) { padding-top: 10px; color: #000; font-size: 18px; 
  }

  .bottom-mid-bill-details, .bottom-last-bill-details { margin-top: 2.0em;
  } 

  .bottom-mid-bill-details>p:nth-child(2), .bottom-last-bill-details>p:nth-child(2) { color: #000; padding-top: 10px; font-size: 18px;
  }

  .bottom-last-bill-details>p:nth-child(2) { font-weight: 600; 
  } 

  section.billing-data-table { margin-top: 3em;
  } 

  .billing-data-table>table { width: 100%; margin: auto; border-collapse: separate; border-spacing: 0;
  }

  .invoice-cont td { 
    text-align: center; 
    padding: 15px; 
    font-weight: 500;
    font-style: normal;
    opacity: 0.8; 
    font-size: 15px; 
    border-bottom: 1px solid #a6a6a6;
    font-family: 'Ubuntu', sans-serif;
  }

  tfoot>tr { text-align: right;
  }

  thead { background-color: #009fff; color: #fff; font-size: 14px;
  }

  th:nth-child(1), td:nth-child(1) { text-align: start; padding: 10px; 
  }

  #hourly-rateN { text-align: right;
  } 

  .light-head { color: #a6a6a6;
  }

  td.no-border-table { border-bottom: none; 
  }

  .dbl-border { border-bottom: 2px solid #000;
  } 

  .Move{ 	padding-left: 230px; 
  } 

  /*media queries for responsiveness*/
  @media(min-width: 1400px){
    .sidebar-content {
      margin-left: 60px;
    }
  }
  @media(max-width: 800px){
    .sidebar-content {
      margin-left: 10px;
    }
  }
  @media(max-width: 500px){
    .main-cont {
      grid-template-columns: 1fr;
    }
    .sidebar {
      display: none;
    }
    .sidebar-content {
      margin-left: 5px;
    }
    .nav-txt {
      font-size: 0.7rem;
    }
    .logo-img {
      height: 20px;
      margin-left: 15px;
    }
    .dropdown-menu {
      width: auto;
    }
    .header {
      padding-left: 0;
      grid-column: 1 / -1;
    }
    .header-nav-item {
      margin: 0 30px;
      font-size: 0.8rem;
    }
    .content {
      margin-left: 10px;
      grid-column: 1 / -1;
    }
    .invoice-cont {
      margin: 30px 20px 10px 0;
    }
    .lanclient-buttons {
      flex-flow: row wrap;
    }
    .lanclient-buttons button {
      margin-top: 10px;
    }
    .left-invy-logo img {
      height: 100px;
      margin-top: 10px;
    }
    .lanclient-billing {
      margin: 10px 0;
    }
    .billing-clhead { font-size: 10px; }
    .bills-description { font-size: 15px !important;}

    .mobile-sidebar {
      position: absolute;
      display: flex;
      height: auto;
      top: 85px;
      left: -60vw;
      z-index: 1;
      transition: left ease-in 500ms;
    }
    .mobile-sidebar.active {
      left: 0;
    }
    .mobile-nav-btn {
      width: 40px;
    }
    .nav-span {
      display: block;
      height: 5px;
      margin: 4px;
      border-radius: 10px;
      background-color: #091429;
    }
    .mobile-nav-btn.active {
      transform: rotate(90deg);
    }
  }