* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Ubuntu;
}
.container {
    width: 96%;
    margin: 0 auto;
}

.error{
    color: red;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 8vh;
}
.header-container h4 {
    flex: 2;
    text-align: center;
    padding-top: 2.4vh;
    border-bottom: 1px solid #C4C4C4;
}
.back-close {
    display: flex;
    margin: 0;
    padding: 0;
}
.back-close button {
    color: #C4C4C4;
    border: none;
}
.header-container img {
    border: 0;
}
.header-container button:hover {
    transition: border 1s;
    border: none;
}
#create, #bottom-create {
    width: 12em;
    background-color: #091429;
    font-size: 14px;
    color: #fff;
}
#create {
    border: none;
}
.form {
    position: relative;
    top: 6vh;
    width: 90%;
    margin: 0 auto;
    left: 1.2em;
}
h1, h3, h4 {
    font-family: "Ubuntu";
    padding-bottom: 0.3em;
}
h3, h4 {
    text-align: center;
}
h1 {
    position: relative;
}
form {
    border: 1px solid #C4C4C4;
    width: 90%;
    padding: 1em;
    padding-bottom: 10em;
}
#bottom-create {
    position: relative;
    top: 4em;
    height: 8vh;
    border: none;
    width: 70%;
    margin-bottom: 2em;
}
#bottom-create:hover {
    font-weight: bolder;
    transition: font-weight 1s, background-color 1s;
}
footer {
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    margin-left: calc(50%);
    transform: translateX(-50%);
}
label, input, select {
    display: block;
    width: 70%;
    margin: 0 auto 0.2em auto;
}
label{
    font-size: 16px;
    color: #262626;
}
input {
    padding: 0.2em;
    margin-bottom: 0.5em;
}
input{
    border: 1px solid #919191;
}
input::placeholder{
    color: #B1B1B1;
}
select{
    padding: 0.2em;
    margin-bottom: 0.5em;
    background-color: #ffffff;
}
#close{
    background-color: #ffffff;
    border:1px solid #C4C4C4 ;
    border-top: none;
    font-size: 30px;
    width: 2em;
}
#back{
    background-color: #ffffff;
    border:1px solid #C4C4C4 ;
    border-left: none;
    border-top: none;
    font-size: 30px;
    width: 2em;
}
#back i {
    margin-right: -10px;
}
#addcontact {
    width: 40%;
    background-color: #fff;
    border: 0;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: calc(25%);
}
#add-other-contacts i {
    vertical-align: middle;
    font-size: 20px;
    color: inherit;
}
h3:last-of-type {
    padding-top: 2em;
}
@media screen and (min-width: 700px) {

    input, select {
        display: inline-block;
        width: 40%;
        padding: 0.5em;
    }
    label {
        margin-left: 0.2em;
    }
    #addcontact {

        margin-left: 0;
        text-align: left;
    }
    footer {

        margin-left: calc(50% + 4rem);
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 900px) {
    body {
        max-width: 1020px;
        margin: 0 auto;
    }
    label {
        display: inline-block;
        margin-right: 10px;
        width: 20%;
    }

    form h3, form h4 {
        text-align: left;
        margin-bottom: 1em;
    }
    input, select {
        margin-left: 1.5em;
        width: 30%;
    }
}