*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
ul,li{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
body {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background-color: #091429 !important;
}

i {
    margin-right: 14px !important;
}
.nav-fa{
    color: #000;
    font-size:26px;
    margin-top: 10px;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
}
.sidebar-heading {
    font-size: 36px;
    font-family: "Pacifico", cursive;
    color: azure;
    font-size: normal;
    font-weight: normal;
    line-height: 63px;
}
#sidebar-wrapper .sideMenu {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.sideMenu a{
    margin-top: 1rem;
    background-color: #091429 !important;
    color: azure;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

nav{
    background-color:#ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.br{
    border-right: 1px solid #B1B1B1;
}
.page_nav{
    display: flex;
}
.searchDiv input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    outline: none;
    text-indent: 32px;
}

.searchDiv{
    position: relative; 
    left: 150px;
}
.fa-search{
    position: absolute;
    top: 40px;
    left: 10px;
}
.circle {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #000;
}
@media only screen and (max-width: 991px) {
    .searchDiv{
        left: 0 !important;
    }
    .fa-search{
        top: 10px !important;
        left: 10px;
    }
    .br{
        border-right: none !important;
    }
}
a.dropdown-item:hover{
    border-bottom: 1px solid #fff;
    transition: 1s;
}

.content-nav{
    /* Primary Blue */
    background: #009FFF;
    padding: 15px;
    width: 100%;
}
.content-nav a {
    font-weight: 60;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;

    text-decoration: none;
}
@media only screen and (max-width: 580px) {
    .content-nav{
        display: none !important;
    }
}
.in-circle{
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 0;
    padding: 10px;
}
.vert-dots:after {
    content: '\2807';
}
tbody tr{
    border: 1px solid #dee2e6;
}

.btn-circle { 
    width: 30px; 
    height: 30px; 
    text-align: center;
    color:#fff;
    padding: 6px 0;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 15px;
    font-style: normal;
    background-color: #009FFF;
    cursor: pointer;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height:1.33;
    border-radius: 25px;
}
.plus-btn{
    position: relative;
    left: 50px;
}
table{
    width: 100%;
}

td{
    border:1px solid #dee2e6; 
    padding:20px;
}
.bo-r-none{
    border-right: none;
} 
.bo-l-none{
    border-left: none;
} 
.table{ 
    border-collapse:separate; 
    border-spacing:0 15px; 
} 
.table thead th{
    border-bottom: none;
}