* {
    margin-right: 0px;
    margin-left: 0px;
    font-family: Ubuntu;
}
body {
    margin-top: 0px;
}
ul {
    display: inline-block;
    float: none;   
    width: fit-content;
    padding-inline-start: 10px;
    margin-top: 24px;
    
}

li {
    
    display: inline;
}

button {
   /* float: left;*/
    width: 80px;
    background: #ffffff;
    border: none;
    height: 100%;
   /* border-right: 2px solid rgba(196, 196, 196, 0.4);*/
}


header {
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
    height: 80px;
    padding: 5px;
    border-bottom: 4px solid;
    border-bottom-color: rgba(196, 196, 196, 0.4);   
}
.c-estimate {
    width: fit-content;
    float: left; 
    /* margin-left: auto; */
    /* margin-right: auto; */
    align-content: center;
    margin-left: 2%;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
}
a {
    text-decoration: none;
}
.next a {
    color: #ffffff;
}
.next {
    width: 10px;
    padding: 26px;
    background: rgba(196, 196, 196, 0.4);
    float: right;
    font-size: 24px;
    font-weight: bold;
    padding-right: 98px;
    padding-left: 47px;
    color: white;
}
div > #ext{
    background: rgba(207, 204, 204, 0.4);
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
}
.cree {
    width: 80%;
    float: left;
    margin: 10px;
    border: 1px solid #999999;
    min-height: 300px;
    padding: 30px;
}

.cree:focus,
.cree:focus-within {
    border: 4px solid #999999;
}
#creefocu, #cree:focus-within{
    border: 4px solid #0ABAB5;
}

section {
    /* width: 80%; */
    margin: auto;
    /* position: relative; */
}
 .a-next {
    background: rgba(207, 204, 204, 0.4);
    width: 200px;
    padding: 20px;
    margin: auto;
    margin-left: 27%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
    clear: both;
}

.a-next a {
    color: white;
}
p, h3 {
    width: fit-content;

}
.lists {
    width: fit-content;
}
.dropbtn, .project {
    /* margin-top: 37px; */
    width: 100%;
    height: 75px;
    padding: 10px;
    border: 1px solid rgba(145, 145, 145, 0.4);
    /* box-sizing: border-box; */

}
.project {
    /* margin-top: 30px; */
    border: 2px solid rgba(145, 145, 145, 0.4);
    height: 60px;
    width: 93% !important;
    overflow: hidden;
}
.l-proj {
    height: 47px;
    border: none;
    width: 100%;
}
.l-proj::placeholder {
    font-family: Ubuntu;
    font-size: 20px;
}
.l-proj:focus {
    border: none;
}
.req {
    /* margin-left: 221px; */

    float: right;
}
.signup {
    background: #0ABAB5;
    width: 145px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.est {
    color: white; 
    background:  #0ABAB5;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    padding: 10px;
    text-align: center;
    padding-top: 10px !important;
}
li {
    padding: 15px;
    margin: 8px !important;
    margin-top: 21px;
}
li a {
    margin: 1px;
    padding: 1px;
    color: black;

}

#new_user {
    margin-top: 20px;
    margin-left: 2%;
}
.shift {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
}
.login {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.hidden {
    display: none;
}
.disabled {
    cursor: not-allowed;
}
.box {
    min-height: 180px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;

}

#container div {
    border: 1px solid black;
    height: 50px;
}

#container p {
    justify-content: center;
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;


    color: #323A43;
}
option, select{
    font-size: 20px;
    background: rgba(207, 204, 204, 0.4);
}
#clear{
    padding: auto;
}



/* #ext {
    justify-content: center;
    border: none;
    background: #091429 !important;
    color: white;
    width: 100%;
    height: 50px;
}*/




#cnc {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
section {
    margin-left: 18% !important;
    min-height: 500px;
    overflow: hidden;
}
.cree {
    width: 30%;
}
.a-next {
    margin-left: 29%;
}
.c-estimate {
    margin-left: 35%;
    font-size: 27px;
}
.shift {
    margin-left: 18% !important;
}

}